#root {
  margin: 0 auto;
  text-align: center;
}

/*?--MININAV STYLES--*/


/* Mini navbar main */
.miniheader-navbar {
  background: #c2ffc0;
  min-height: 28px;
  height: 28px;
  font-size: 12px;
  padding: 0;
  box-shadow: none;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mini navbar container */
.miniheader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mini navbar text */
.miniheader-text {
  color: #222;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

/*?--NAVBAR STYLES--*/


/* Navbar principal */
.navbar-main {
  border-bottom: 1px solid #eee;
  height: 60px;
}

/* Contendedor del navbar */
.navbar-container {
  overflow: hidden;
}

/* Brand */
.navbar-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

/* Text bold*/
.text-bold {
  -webkit-text-stroke: 0.7px #222;
}

/* Fuente del texto*/
@font-face {
  font-family: "MiFuente";
  src: url("./assets/fonts/LaNantes.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Texto del brand */
.brand-text {
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 1;
  font-family: "MiFuente", sans-serif;
}

/* Font logo*/
.text-bold:hover,
.text-bold:focus {
  color: #aeefff !important;
  border-radius: 4px;
  transition: color 0.2s;
  -webkit-text-stroke: 0.5px #aeefff !important;
}

/* Logo */
.logo-img {
  margin-right: 10px;
  height: 50px;
  width: auto;
}

/* Nav link */
.nav-link {
  color: #222 !important;
  font-weight: 500;
  transition: color 0.2s;
  margin-right: 16px;
}

/* Nav link hover*/
.nav-link:hover,
.nav-link:focus {
  color: #aeefff !important;
  border-radius: 4px;
  transition: color 0.2s;
}

/* Nav link last */
.nav-link-custom:last-child {
  margin-right: 10px;
}

/* Toggle icon */
.navbar-toggler {
  width: auto;
  margin-bottom: 8px;
}

/*?--MEDIAQUERYS NAVBAR--*/


/* Brand text smaller than 780px */
@media (max-width: 780px) {
  .brand-text {
    font-size: 20px;
  }
}

/* Logo smaller than 780px */
@media (max-width: 780px) {
  .logo-img {
    height: 30px;
    width: auto;
  }
}

/* Brand text smaller than 500px */
@media (max-width: 305px) {
  .brand-text {
    font-size: 10px;
    letter-spacing: 3px;
  }
}

/* Logo smaller than 500px */
@media (max-width: 305px) {
  .logo-img {
    display: none;
  }
}

/* Offcanvas nav link */
.offcanvas-nav-link {
  padding: 12px 0;
  color: #222 !important;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: color 0.2s;
}

/*?--BANNER STYLES--*/


/* Banner main */
.banner-main {
  width: 100%;
  min-height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/img/banner/banner.jpg");
  align-items: flex-end;
}

/* Banner container */
.banner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}

/* Texto bienvenido */
.bienvenido {
  position: relative;
  left: -18%;
  font-size: 5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-family: "MiFuente";
  text-shadow: 4px 4px 8px rgba(117, 205, 240, 0.5);
  letter-spacing: 5px;
  line-height: 1;
  -webkit-text-stroke: 2px #ffffff;
}

/* Link del banner */
.banner-link {
  position: relative;
  left: -18%;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s, color 0.2s;
  cursor: pointer;
  text-shadow: 10px 4px 8px rgba(130, 253, 253, 0.5);
  letter-spacing: 2px;
  line-height: 1;
  display: inline-block;
  border-radius: 20px;
  padding: 5px 20px;
  border: 2px solid transparent;
  display: inline-block;
  transition: border 0.2s;
}

/* Hover del link del banner*/
.banner-link:hover,
.banner-link:focus {
  color: #aeefff;
  text-decoration: none;
}

/*?--PRODUCTOS STYLES--*/


.titulo-productos {
  margin-bottom: 26px;
  color: #222;
  font-family: "MiFuente";
  letter-spacing: 10px;
  line-height: 1;
  -webkit-text-stroke: 1.5px #222;
  font-size: 50px;
  
}

.card-title {
  min-height: 20px; 
  font-family: 'Times New Roman', Times, bold;
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-divider {
  border-bottom: 1px solid #eee;
  margin: 0.4rem 0 1rem 0;
}

.btn-contactanos:hover,
.btn-contactanos:focus {
  
  color: #FFF !important;
  transition: background-color 0.2s, color 0.2s !important;

}


.card-description {
  min-height: 90px; 
  display: flex;
  align-items: center;
  margin-bottom: 1rem;	
  
}

.card-precio {
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

